.searchContainer{
    position: relative;

}

.searchToggle{
display: flex;

}

.toggle{
    size: small;
    margin-left: 20px;
    margin-top: 2px;
}

.toggleLabel{
    margin-left: 10px;
    margin-top: 7px;
}