.footer {
    background-color: #0A1620;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;

  }
  
  .footerBottom {
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
  }

  .footerLogo{
  margin-left: 1050px;
 margin-top: 30px;
  }
  