.elasticity{
    color: #00A35C;
    margin-top: 5px;
}

.productContainer{
    margin-top: 20px;
}

.card{
    max-width: 200px;
    min-height: 325px;
    margin-right: 30px;
}


.productInfo {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items vertically */
}

.productInfo img{
    margin-bottom: 10px;
}

.cardFooter {
    display: flex;
    justify-content: space-between; /* Subtitle will be on the left and CartAdd on the right */
    align-items: center; /* Align items vertically */
    padding-top: 10px;
}

.subtitle {
    text-align: center; /* Center-align the Subtitle */
}

.cartAdd {
    margin-left: auto; /* Push CartAdd component to the right corner */
}

.productName{
    font-size: 16px;
    text-align: center;
}

/*Product Detail Modal*/

.detailModal {
 display: flex;
}

.detailInfo{
    margin-left: 20px;
}

.detailCart{
    margin-top: 20px;
}