
.hr{
  border: 1px solid #E8EDEB;
}

.filterTitle{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 5px;
}

.checkboxList {
  display: flex;
  flex-direction: column;
}

.checkbox {
  margin-bottom: 8px; /* Adjust as needed */
}


/*Inventory Mgmt Styles -> CHANGE */

.sidebar {
    background-color: #fbfcfc;
    width: 184px;
    
    transition: width 0.3s ease;
    grid-area: side-nav / side-nav / side-nav / side-nav;
    overflow-y: visible;
    list-style: none;
    z-index: 1;
    padding-left: 24px;
    position: fixed;
    top: 110px; /* Adjust this value if needed to control the vertical position */
    bottom: 0; /* Adjust this value if needed to control the vertical position */
    left: 0;

  }
  
  .sidebar.shrunk {
    width: 48px; 
    padding-left: 0px;
  }
  
  
  .size-filters {
    margin-top: 20px;
  }
  
  .size-filters h3 {
    font-size: 12px;
    color: #333333;
    margin-bottom: 10px;
    margin-top: -20px;
    
  }
  
  .size-filters label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #5e5555;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .size-filters input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .size-filters input[type="checkbox"]:checked + span {
    color: #48A163;
    font-weight: bold;
  }
  
  .size-filters span {
    transition: color 0.3s;
  }
  
  .color-filters {
    margin-top: 20px;
  }
  
  .color-filters h3 {
    font-size: 12px;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .color-filters label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #5e5555;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .color-filters input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .color-filters input[type="checkbox"]:checked + span {
    color: #48A163;
    font-weight: bold;
  }
  
  .color-filters span {
    transition: color 0.3s;
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 12px;
  
  }
  
  .sidebar-header.shrunk {
    justify-content: center;
  }
  
  .filterslogo {
    height: 16px;
    width: 22px;
    padding-top: 16px;
  }
  
  .toggle-button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    right: -20px;
    transform: translateY(-50%);
    
  }
  
  
  .toggle-button:hover {
    background-color: #c07cf1;
  }

  .color-list {
    max-height: 300px;
    overflow-y: scroll;
  }

  .color-list button {
    font-size: 10px;
    color: #5e5555;
    cursor: pointer;
    border: none;
    background: none;
    text-decoration: underline;
  }

  .color-list::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}