.modalCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.leafyFeel :global(.modal-content) {
    border-radius: 24px;
}
.centerText{
    text-align: center;
}
.weightNormal{
    font-weight: normal;
}
/* Remove border-radius when modal is fullscreen */
@media (max-width: 767.98px) { /* Corresponds to md-down */
    .leafyFeel :global(.modal-content) {
      border-radius: 0px;
    }
}
.contentScroll{
    max-height: 600px;
    min-height: 600px;
    overflow-y: scroll;
}