.pageContainer {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 160px);
  }
  
  .sideBar {
    width: 180px;
    padding-top: 10px;
    overflow-y: auto;
  }
  
  .productList {
    width: calc(100vw - 180px);
    overflow-y: auto;
  }
  