html{
    font-family: "Euclid Circular A", "Akzidenz", Helvetica, Arial, sans-serif;
    padding-bottom: 100px;
    cursor: default;
}
.cursorPointer{
    cursor: pointer;
}
.container .leafygreen-ui-yk169t{
    margin-top: 3rem;
}
.weightNormal{
    font-weight: normal;
}