.cartContainer {
  position: relative;
}

.cartIcon {
  cursor: pointer;
}

.cartPopup {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cartPopup h3 {
  margin-bottom: 10px;
}

.cartPopup p {
    color: black;
  }

.cartPopup ul {
  list-style: none;
  color: black;
  padding: 0;
  margin: 0;
}

.cartPopup li {
  margin-bottom: 5px;
  color: black;
}
