.profileContainer {
    position: relative;
  }
  
  .profileIcon {
    cursor: pointer;
  }
  
  .profilePopup {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background-color: #ffffff;
    border-radius: var(--bs-border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    color: black;
  }
  
  
  .profilePopup p {
      color: black;
      margin: 0;
  }
  .profilePopup small{
    color: #737574;
    font-weight: bold;
    margin-top: -5px;
  }
  .textMyProfile{
    margin-bottom: -6px !important;
  }
  .listGroupItem{
    cursor: pointer;
  }
  .listGroupItem:hover{
    background-color: rgba(235, 235, 235, 0.868);
  }