.profileContainer {
    position: relative;
  }
  
  .profileIcon {
    cursor: pointer;
  }
  
  .profilePopup {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .profilePopup p {
      color: black;
    }
  